# =========================================
# DEPENDENCIAS
# =========================================
node_modules/
/.pnp
.pnp.js

# =========================================
# NEXT.JS & BUILD
# =========================================
/.next/
/out/
build/
dist/

# =========================================
# VARIABLES DE ENTORNO (¡CRÍTICO!)
# =========================================
.env
.env*.local
# (Nota: .env.local.example sí se subirá porque no termina en .local)

# =========================================
# LOGS
# =========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================================
# TYPESCRIPT
# =========================================
*.tsbuildinfo
next-env.d.ts

# =========================================
# SISTEMA OPERATIVO Y EDITORES
# =========================================
.DS_Store
*.pem
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================================
# VERCEL / DESPLIEGUE
# =========================================
.vercel


# =========================================
# BASE DE DATOS
# =========================================
supabase-schema.sql